@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Glass+Antiqua&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  overflow-x: hidden;
  background-color: #27282c;
}

a {
  text-decoration: none;
}
input[type="file"] {
  display: none;
}
#lblFoto {
  padding: 20px 10px;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 6s;
}
#lblFoto:before {
  top: 70px;
  content: "";
  position: absolute;
  width: 250px;
  height: 150px;
  background-color: #ffe07d;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40%;
  z-index: -1;
}
#lblFoto:hover::before {
  animation: fill 3s ease-in-out forwards;
}
#lblFoto:hover {
  color: black;
}
@keyframes fill {
  from {
    top: 70px;
    transform: translateX(-50%) rotate(360deg);
  }
  to {
    top: -20px;
    transform: translateX(-50%) rotate(360deg);
  }
}
.header {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: #ffe07d;
  position: fixed;
  top: 0;
  z-index: 100;
  /* border-bottom: 2px #f2d479 solid; */
  padding: 5px 0;
}
.imgFogo {
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: -15px;
}

.header a {
  height: 100px;
}

.header ul {
  margin-bottom: 20px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.itemTom {
  top: 0;
  height: 150px;
  width: 150px;
  background-image: url(../img/prato.png);
  background-size: cover;
  /*border-radius: 0 0 150px 150px;
	background: linear-gradient(#F5F2DF, #F5F2DF) padding-box, linear-gradient(to right,  lightgrey, #bcbcbc, #efefef, #d9d9d9) border-box;
	border: 5px solid transparent;*/
  display: flex;
  justify-content: center;
  transform: translateY(-50px);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.itemTom:hover {
  transform: translateY(0px);
}

.itemTom h3 {
  margin-left: 30px;
  margin-top: 40px;
  transition: 0.5s ease-in-out;
  text-shadow: -1px -1px 0px #000, -1px 1px 0px #000, 1px -1px 0px #000,
    1px 0px 0px #000;
}

.itemTom:hover h3 {
  transform: translateY(110px);
}

.icone {
  height: 100%;
  margin-left: 30px;
  border-radius: 50%;
}

.mainT {
  background-image: url("../img/bateria.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.mainH {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #27282c;
  color: white;
}

.carousel{
  height: 500px;
}

.pg1 {
  background-image: url("../img/background.jpg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.pg2 {
  background-color: #27282c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pg1,
.pg2 {
  height: Calc(100vh - 100px);
  width: 100%;
}

.pg2H{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 30px;
  margin-top: 150px;
}
.pg2H div{
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #f2d47999;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 4px solid gold;
}

.pg2H div p {
  font-weight: 300;
  font-size: 1.2em;
}

.div_dash {
  width: 80%;
  height: 80%;
  background-color: #bcabae;
  border-radius: 50px;
  display: flex;
  overflow: hidden;
  color: white;
}
.seletor {
  width: 10%;
  left: 0;
  background-color: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.graficos {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
}
.selecao {
  width: 90%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  cursor: pointer;
  transition: 2s;
}

.favoritos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.orientacao{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

}
.divInfoGrafico{
  min-width: 45%;
  text-align: center;
  height: 85%;
}
.divInfoGrafico2{
  width: 45%;
  border: 3px black solid;
  padding: 10px;
  border-radius: 20px;
  font-weight: 200;
  font-size: 1.1em;
}
.doughnut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 35%;
}

.tituloGrafico{
  position: absolute;
  transform: translate(50% 50%);
  width: 25%;
  height: 40px;
  text-align: center;
  font-weight: 300;
  font-size: 3em;
}

.slcGrafico{
  width: 50%;
  align-self: center;
  font-size: 1.2em;
  background-color: #27282c;
  color: white;
  margin: 15px 0;
  border-radius: 15px;
  border: none;
  text-align: center;
}
.btnGrafico{
  background: none;
  border: 2px solid black;
  text-transform: uppercase;
  padding: 12px 20px;
  width: 50%;
  cursor: pointer;
  transition: corPula 0,4s linear;
  position: relative;
  align-self: center;
  z-index: 1;
}
.btnGrafico:hover{
  color: white;
}
.btnGrafico::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: transform 0.65s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  transform: scaleX(0);
}

.btnGrafico:hover::before{
  transform: scaleX(1);
}

.curva {
  width: 100%;
  bottom: 0;
  position: relative;
}
.curva::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 100% 50%;
  background-color: grey;
  width: 55%;
  height: 200px;
  transform: translate(85%, 40%);
}

.curva::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  background-color: green;
  width: 55%;
  height: 200px;
  transform: translate(-4%, 40%);
}

@keyframes descerTitulo {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.titulo_pg1 {
  opacity: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  z-index: 10;
  margin-bottom: 10px;
  text-shadow: 2px 3px 4px black;
  animation: descerTitulo 1s forwards 1s;
}

@keyframes aparecerBaquetaE {
  0% {
    transform: translateX(150%);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes aparecerBaquetaD {
  0% {
    transform: translateX(-150%);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.imgP1 {
  opacity: 0;
  width: 50%;
  /*  animation: aparecerBaqueta 2s;*/
}
.imgE {
  animation: aparecerBaquetaE 1.5s forwards 1.75s;
}
.imgD {
  animation: aparecerBaquetaD 1.5s forwards;
}

.cont {
  /* FONT-WEIGHT: 500; */
  display: flex;
  /* min-width: 100%; */
  /* min-height: 250px; */
  align-items: center;
  justify-content: space-around;
  /* background-color: cornflowerblue; */
}

.curve {
  position: absolute;
  fill: url(#MyGradient);
  height: 33.3%;
  stroke: black;
  stroke-width: 0.1;
  transform: rotateX(180deg);
  transform: translateX(0%);
}

.div_conteudo {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  /* row-gap: 210px; */
  /* padding-top: 0px; */
  /* padding-bottom: 20px; */
  /* background-color: #243540; */
  width: 100vw;
  height: 400px;
  padding-bottom: 40px;
  margin-top: 100px;
  background-color:#27282c;
}
.contColuna {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  /* row-gap: 120px; */

  scroll-snap-align: center;
}

/* largura da barra de scroll */
.div_conteudo::-webkit-scrollbar {
  height: 20px;
  background-color: transparent;
}

/* borda e sombra da barra de scroll */ /*
.div_conteudo::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #d9c49c;
    border-radius: 10px;
}*/

/* cor e borda da barra de scroll */
.div_conteudo::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 10px;
}

.div_conteudo::-webkit-scrollbar-thumb:hover {
  background: #f2d479;
}

.conta {
  padding: 20px;
  width: fit-content;
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
}
.divBtn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}
.divBtn button {
  height: 55%;
  width: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
/*.wave{
  background: url('../img/wave-haikei.svg');
}*/
.id,
.id2 {
  width: 1200px;
  height: 210px;
  bottom: -165px;
  position: absolute;
  z-index: -1;
}
.id2 {
  transform: rotateY(180deg) translateX(-1200px);
}

.container2 {
  z-index: 10;
  top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 35%;
  padding: 20px 40px;
  background: #f2d47999;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 4px solid gold;
  margin-top: 0px;
  margin-bottom: 30px;
  color: black;
}

.container {
  padding: 20px 40px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35%;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid silver;
}

.imgBatera {
  width: 17%;
  height: 250px;
  border: silver 4px solid;
  border-radius: 25px;
}
h1 {
  margin: 0;
}
.containerCad {
  width: 60%;
  height: 95%;
  background-color: #efefefdd;
  border-radius: 20px;
  box-shadow: 0px 0px 60px #aaaaaa;
}

.formCad {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.inpt_cad {
  /*  border: 1px black solid;*/
}

@keyframes RodarbaquetaE {
  0% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(215deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
@keyframes RodarbaquetaD {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
.baqueta {
  transform: rotate(0);
}

.sidebar {
  height: 100%;
  width: 0px;
  z-index: 10000;
  top: 0;
  right: 0;
  position: fixed;
  background: #27282c;
  border-radius: 16px 0;

  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding-top: 20px;
}
.abridor {
  position: absolute;
  left: -50px;
  top: 50%;
  background-color: #fee07c;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: left;
  padding-left: 15px;
  align-items: center;
  border-radius: 5px;
}

.divErro{
  position: absolute;
  height: fit-content;
  max-width: 90%;
  padding: 7px;
  border-radius: 10px;
  background-color: #fee07c;
  border: 3px solid black;
  top: 30px;
  margin: auto;
  left: 5%;
  display: none;
}

.divCad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-color: aqua; */
}

#divPerfil {
  display: none;
}

.btnLogin {
  color: white;
  background-color: black;
  border: 2px solid #fee07c;
  padding: 15px;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.buttonPerfil {
  color: white;
  background-color: #27282c;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 50;
  padding: 10px 10px;
  transition: 0.5s;
  border: 2px solid white;
}
.buttonPerfil:hover {
  color: #27282c;
  letter-spacing: 0.18em;
  background: var(--colorBack);
  box-shadow: 0 0 10px var(--colorBack);
  border: 2px solid var(--colorBack);
}

.buttonTeste {
  color: white;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 300;
  padding: 10px 30px;
  transition: 0.5s;
  border: 2px solid white;
}

.buttonTeste:hover {
  color: var(--colorBack);
  letter-spacing: 0.18em;
  background: var(--colorBack);
  box-shadow: 0 0 20px var(--colorBack);
  border: 2px solid var(--colorBack);
}

.buttonTeste:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #27282c;
}
.buttonTeste span {
  position: relative;
  z-index: 1;
}
.buttonTeste i {
  position: absolute;
  inset: 0;
  display: block;
}
.buttonTeste i::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 80%;
  width: 10px;
  height: 4px;
  background-color: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}
.buttonTeste:hover i::before {
  width: 20px;
  left: 20%;
}

.buttonTeste i::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 20%;
  width: 10px;
  height: 4px;
  background-color: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}
.buttonTeste:hover i::after {
  width: 20px;
  left: 80%;
}

.sidebar:hover {
  width: 300px;

  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

.sidebar:hover .inpt_side,
.sidebar:hover .inpt_side {
  display: flex;
}

.input_titulo {
  display: none;
  align-items: center;
  border: 2px solid #b8b8d1;
  box-shadow: 0 0 20px #b8b8d1;
  color: #b8b8d1;
  background-color: #27282c;
  padding: 15px 0px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
}

.inpt_side {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 85%;
  color: white;
  margin-top: 40px;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  /* background-color: orange; */
}
.inptLogin {
  border-radius: 15px;
  text-align: center;
  width: 80%;
  height: 25px;
  border: none;
}

.btnAparecer {
  cursor: pointer;
  color: white;
  font-size: 15px;
}

@keyframes aparecerCad {
  0% {
    opacity: 0%;
    display: flex;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes pingoCad {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(80px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}

.imgSide {
  border-radius: 50%;
  border: #fee07c solid 4px;
  width: fit-content;
  height: fit-content;
}
