@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Glass+Antiqua&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #A62D2d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: #FFE07D;
  position: fixed;
  top: 0;
  z-index: 10000;
  border-bottom: 2px #f2d479 solid;
  padding: 5px 0;
}

.header a {
  height: 100px;
}

.header ul {
  margin-bottom: 20px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.itemTom {
  top: 0;
  height: 150px;
  width: 150px;
  background-image: url(../img/prato.png);
  background-size: cover;
  /*border-radius: 0 0 150px 150px;
	background: linear-gradient(#F5F2DF, #F5F2DF) padding-box, linear-gradient(to right,  lightgrey, #bcbcbc, #efefef, #d9d9d9) border-box;
	border: 5px solid transparent;*/
  display: flex;
  justify-content: center;
  transform: translateY(-50px);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.itemTom:hover {
  transform: translateY(0px);
}

.itemTom h3 {
  margin-left: 30px;
  margin-top: 40px;
  transition: 0.5s ease-in-out;
  text-shadow:
    -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000,
    1px 0px 0px #000;
}

.itemTom:hover h3 {
  transform: translateY(110px);
}



.icone {
  height: 100%;
  margin-left: 30px;
  border-radius: 50%;
}

.mainT{
  background-image: url('../img/bateria.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}



.pg1 {
  height: 100vh;
  width: 100%;
  background-image: url('../img/background.jpg');
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.curva{
  width: 100%;
  bottom: 0;
  position: relative;
}
.curva::before{
  content: '';
  position: absolute;
  display: block;
  border-radius: 100% 50%;
  background-color: grey;
  width: 55%;
  height: 200px;
  transform: translate(85%, 40%);
  z-index: 2;
}

.curva::after{
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  background-color: green;
  width: 55%;
  height: 200px;
  transform: translate(-4%, 40%);
  z-index: 1;
}

@keyframes descerTitulo {
  0%{
    transform: translateY(-200px);
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.titulo_pg1 {
  opacity: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
  z-index: 100;
  margin-bottom: 10px;
  text-shadow: 2px 3px 4px black;
  animation: descerTitulo 1s forwards 1s;
}

@keyframes aparecerBaquetaE {

  0%{
    transform: translateX(150%);
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }

}@keyframes aparecerBaquetaD {

  0%{
    transform: translateX(-150%);
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }

}

.imgP1{
  opacity: 0;
  width: 50%;
/*  animation: aparecerBaqueta 2s;*/
}
.imgE{
  animation: aparecerBaquetaE 1.5s forwards 1.75s;
}
.imgD{
  animation: aparecerBaquetaD 1.5s  forwards;
}
/* 
.pg2 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  /* overflow-y: hidden; 
  
}
.pg2::before{
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
}
.pg2 h1 {
 align-self: center;
}
/* 
.backD{
  background-color: #A62D2d;
  transform: translateX(100%);
  
  background: linear-gradient(
    to bottom, 
    #A62D2d 0%, 
    #A62D2d 33.29%, 
    #243540 33.3%, 
    #243540 66.6%, 
    #A62D2d 66.7%, 
    #A62D2d 100%
  ); 
}
.backE{
  background-color: #243540;
/*   
  background: linear-gradient(
    to bottom, 
    #243540 0%, 
    #243540 33.29%, 
    #A62D2d 33.3%, 
    #A62D2d 66.6%, 
    #243540 66.7%, 
    #243540 100%
  ); 

}
.backE, .backD{
  /*position: absolute;
  width: 50%;
  height: 192.13%;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  position: absolute;
} */

.cont{
  /* FONT-WEIGHT: 500; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  min-height: 250px;
  align-items: center;
  background-color: cornflowerblue;
}

.curve {
  position: absolute;
  fill:url(#MyGradient);
  height: 33.3%;
  stroke: black;
  stroke-width: 0.1;
  transform:rotateX(180deg);
  transform: translateX(0%);
  z-index: 1;
}

.div_conteudo{
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 210px;
  /* padding-top: 0px; */
  padding-bottom: 20px;
}

.container2{
  z-index: 100;
  top: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 35%;
  padding: 20px 40px;
  background: #f2d47999;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 4px solid gold;
}

.container {
  padding: 20px 40px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35%;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid silver;
}

.imgBatera{
  width: 17%;
  height: 250px;
  border: silver 4px solid;
  border-radius: 25px;
  background: url('img/linha.svg');
}

.container h2{
  margin-bottom: 30px;
}

.containerCad {
  width: 60%;
  height: 95%;
  background-color: #efefefdd;
  border-radius: 20px;
  box-shadow: 0px 0px 60px #aaaaaa;
}

.formCad {

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.inpt_cad {
  /*  border: 1px black solid;*/
}

@keyframes RodarbaquetaE {
  0%{
    transform: rotate(135deg);
  }
  50%{
    transform: rotate(215deg);
  }
  100%{
    transform: rotate(135deg);
  }
}
@keyframes RodarbaquetaD {
  0%{
    transform: rotate(45deg);
  }
  50%{
    transform: rotate(-35deg);
  }
  100%{
    transform: rotate(45deg);
  }
}
.baqueta{
  transform: rotate(0);
}


.sidebar {
  height: 100%;
  width: 0px;
  z-index: 100000;
  top: 0;
  right: 0;
  position: fixed;
  background: #243540cc;
  border-radius: 16px;
  box-shadow: 0 4px 30px #243540;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding-top: 20px;
}
.abridor{
  position: absolute; 
  left: -50px; 
  top:50%;
  background-color: #dbba00;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: left;
  padding-left: 15px;
  align-items: center;
  border-radius: 5px;
}

.divCad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-color: aqua; */
}

#divPerfil {
  display: none;
}

.btnLogin {
  background-color: darkred;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.sidebar:hover {
  width: 300px;
}

.sidebar:hover .inpt_side,
.sidebar:hover .inpt_side {
  display: flex;
}

.input_titulo {
  display: none;
  align-items: center;
  border: 5px solid darkred;
  padding: 15px 0px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
}

.inpt_side {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 85%;
  color: white;
  margin-top: 40px;
  overflow: hidden;
  text-align: center;
  /* margin-left: 20px; */
  /* background-color: orange; */
}

.btnAparecer {
  cursor: pointer;
  color: white;
  font-size: 15px;
}

@keyframes aparecerCad{
  0%{
    opacity: 0%;
    display: flex;
  }
  100%{
    opacity: 1;
    display: flex;
  }
}


/*.containerCard{
  position: relative;
  display: inline-block;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 15px;
  visibility: hidden;
}


.containerCard .cardc{
  position: relative;
  width: 300px;
  height: 420px;
  background: transparent;
  box-shadow: 8px 9px 8px rgba(236, 207, 255, 0.849);
  border-top-color: black;
  border-radius: 20px;
  overflow: hidden;
}

.containerCard .cardc:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3a0070;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.containerCard .cardc:hover:before{
  clip-path: circle(300px at 70% -20%);
}

.containerCard .cardc:after{
  content: 'Vida Lilás';
  position: absolute;
  top: 5%;
  left: -5%;
  font-size: 10em;
  font-weight: 800;
  font-style: italic;
  color: #3a007042;
}

.containerCard .cardc .imgBx{
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.containerCard .cardc:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.containerCard .cardc .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.containerCard .cardc .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.containerCard .cardc:hover .contentBx{
  height: 210px;
}

.containerCard .cardc .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.containerCard .cardc .contentBx .size, .containerCard .cardc .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.containerCard .cardc:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.containerCard .cardc:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.containerCard .cardc .contentBx .size h3, .containerCard .cardc .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.containerCard .cardc .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.containerCard .cardc .contentBx .size span:hover{
  background: #3a0070;
}

.containerCard .cardc .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.containerCard .cardc:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
*/